In [1]:
# 앞의 색이 파란색이면, Commend mode (주피터 노트북 제어)
# 앞의 색이 노란색이면 Edit mode (코드 작성 및 내용 입력)
# 자바에서 주석은 //, 파이썬에서의 주석은 #

In [2]:
# Commend mode 조작법 
# 파란 색상일때 b : 아래에 셀 추가
# a : 위에 셀 추가
# dd : 셀 삭제
# Enter : Edit mode로 전환
# x : 셀 잘라내기
# v : 셀 붙여넣기

파란 색상일때 m : 마크다운(연습장과 같은 역활)
# 제목1 
## 제목2
### 제목3
#### 제목4
##### 제목5
###### 제목6

- 안녕하세요 오늘 파이썬 처음이에용 ( 똥그라미 )
    - 앞으로 파이썬도 많이 사랑해주세요. ( 네모 )

In [3]:
# 코드가 작성된 줄에서 실행은 ctrl + enter
num1 = 1

In [4]:
num1

1

In [5]:
# 공통 단축키
# ctrl + enter : 현재 셀 실행
# shift + enter : 현재 셀 실행 후 아래셀로 이동

In [6]:
# 만들어볼까요?

## 01변수

In [7]:
num = 3

In [8]:
print(num)

3

In [9]:
num

3

In [10]:
# int , float
# char타입 x, str만 있따.
# boolean

In [11]:
num1 = 13
num2 = 25

In [12]:
num1

13

In [13]:
num2

25

In [14]:
num2 = 77

In [15]:
num2

77

In [16]:
print(num1, num2)

13 77

In [17]:
num3 = 3.1425

In [18]:
num4 = 1.25

In [19]:
num4 = 3.12

In [20]:
print(num3,num4)

3.1425 3.12

In [21]:
str1 = "Funny python"

In [22]:
str2 = 'Easy python'

In [23]:
print(str1)
print(str2)

Funny python
Easy python

In [24]:
# 예약어 사용이 불가능하다(명령어는 가능하지만, 원래 기능이 사라진다)
# for, if, class , def 예약어
# sum, max, min 명령어
import keyword
keyword.kwlist #(파이썬 예약어 확인)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 변수명 규칙
권장사항
- 변수명의 첫 글자는 가급적 소문자로 만든다
- 두 가지의 문자를 섞어서 변수명을 만들 경우 두 단어를 구분할 수 있게 한다.

In [25]:
a = 10
b = 15
print(a)
print(b)

10
15

In [26]:
# , 기준으로 다중변수 입력이 가능하다.
a, b = 11, 16
print(a)
print(b)

11
16

In [27]:
str1 = 'python'
str2 = 'python'
print(str1)
print(str2)

python
python

In [28]:
# 두 변수에 같은 값을 줄수 있다.
str1 = str2 = 'python'

In [29]:
print(str1)
print(str2)

python
python

In [30]:
x = 100
y = 200
sum1 = x+y
print(sum1)

300

In [31]:
sum([x,y])

300

In [32]:
s = 'she\'s gone'

In [33]:
print(s)

she's gone

In [34]:
# 여러줄로 구성된 문자열을 변수에 대입하고 싶을때
# 여러줄로 구성된
# 문자열을 변수에
# 대입하고 싶을때
# println * 3
# \n(개행 문자)
s = "여러줄로 구성된 \n문자열을 하나로 \n출력하고 싶을 때"
s

'여러줄로 구성된 \n문자열을 하나로 \n출력하고 싶을 때'

In [35]:
print(s)

여러줄로 구성된
문자열을 하나로
출력하고 싶을 때

In [36]:
s = """여러줄로 구성된 
문자열을 하나로 
출력하고 싶을 때"""
print(s)

여러줄로 구성된
문자열을 하나로
출력하고 싶을 때

In [37]:
# 문자열 포맷팅
# 문자 내부에서, 자주 바뀌는 부분을 변수 처리해서 원하는 결과를 출력하는 방법
am = "HTML/CSS"
pm = "파이썬 라이브러리"

s = f"""
1교시 : {am}
2교시 : {am}
3교시 : {am}
4교시 : {am}
5교시 : {pm}
6교시 : {pm}
7교시 : {pm}"""

print(s)

1교시 : HTML/CSS
2교시 : HTML/CSS
3교시 : HTML/CSS
4교시 : HTML/CSS
5교시 : 파이썬 라이브러리
6교시 : 파이썬 라이브러리
7교시 : 파이썬 라이브러리

### 인덱싱 / 슬라이싱(1회차)
- 인덱싱 : 무엇인가를 '가리킨다' 라는 의미
- 슬라이싱 : 무엇인가를 '잘라낸다' 라는 의미

In [38]:
s = "my name is IY"
s[8]

'i'

In [39]:
s[12]

'Y'

In [40]:
s[-2]

'I'

In [41]:
# 문자열 인덱싱 실습
# 여러분들의 이름 이니셜에 해당하는 글자를 가져와주세요
# ex) my name is IY -> "I","Y"
print(s[11],s[12])
s[11],s[12]

I Y

('I', 'Y')

In [42]:
# 인덱스의 시작번호는 항상 0부터 시작한다
# 슬라이싱에서 인덱스의 끝 번호는 항상 어떻게 처리한다? +1을 해준다.

In [43]:
# 인덱싱으로 글자 하나하나 가져오는거 불편하다!
# 범위를 정해서 단어를 가져와보자
# 데이터 슬라이싱
# : 데이터를 범위별로 가져온다.
# s[ 인덱스 시작번호 : 인덱스 끝번호 + 1 ]
s[3 : 7]

'name'

In [44]:
s

'my name is IY'

In [45]:
# my를 가져와보자
s[0:2]

'my'

In [49]:
# is를 가져와보자
s[8:10]

'is'

In [67]:
# IY를 가져와보자
s[-2:]

'IY'

In [69]:
# 슬라이싱에서 값을 생략하는 것에 대한 의미
# 변수 [ 시작값 인덱스 : 끝값 인덱스 + 1 ]
# 시작값이 생략되는 경우 -> 데이터의 처음부터(인덱스 번호 0번부터)
print(s[ 0 : 7])
print(s[ : 7 ])

'my name'

In [70]:
# 끝값이 생략되는 경우 -> 데이터의 (인덱스 번호 0번부터)
print(s[9 : 13])
print(s[9 : ])

s IY
s IY

In [71]:
# 문자열에 처음부터 끝까지 모든 문자를 가져오고 싶으면 어떻게 해야할까?
print(s[:])

my name is IY

In [72]:
s

'my name is IY'

In [79]:
# 다음과 같은 문자열에서 날짜와 날씨를 따로 뽑아서 출력해보자
s = "2024년 1월 30일의 날씨는 맑음입니다."
print("날짜 : " + s[0 : 12])
print("날씨 : " + s[-6 :-4])

날짜 : 2024년 1월 30일
날씨 : 맑음

In [85]:
# 문자열 포매팅 실습
# 문자열 포매팅 : 문자 내부의 특정한 값을 바꿔야 할 경우 사용
# 1. %d 포매팅
day = 11
s = "오늘은 1월 %d일입니다."%day
s

'오늘은 1월 11일입니다.'

In [87]:
month = 1
day = 11
s = "오늘은 %d월 %d일입니다."%(month, day)
s

'오늘은 1월 11일입니다.'

In [88]:
# 2. format 함수를 이용한 포매팅
month = 1
day = 11
s = "오늘은 {}월 {}일입니다.".format(month,day)
s

'오늘은 1월 11일입니다.'

In [89]:
# 3. f포매팅
month = 1
day = 11
s = f"오늘은 {month}월 {day}일입니다."
s

'오늘은 1월 11일입니다.'

In [1]:
x = 140
y = 300
sum2 = x+y
print(f"{x}와 {y}의 합은 {sum2}입니다.")

140와 300의 합은 440입니다.

In [4]:
# strip() : 문자의 양쪽 공백을 없애주는 함수
s = "                  감기조심하세요           "
s.strip()

'감기조심하세요'

In [6]:
# replace(기존의 문자, 바꿀 문자)
s = '안녕 하세요'
s.replace(" ","하")

'안녕하하세요'

In [9]:
s = "안녕하세요. 상원, 상원씨는 온르 잘 보내고 있난요?"
s.replace("상원","범수짜응")

'안녕하세요. 범수짜응, 범수짜응씨는 온르 잘 보내고 있난요?'

In [15]:
# split()
s = "우석 우건 준범 동완"
s.split("우")

['', '석 ', '건 준범 동완']